<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kích hoạt khóa học</title>

    <!--CSS FONTSAWESOME-->
    <link rel="stylesheet" href="../../Assets/Vendors/CSS/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../Assets/Vendors/Bootstrap/CSS/bootstrap.min.css">

    <link rel="stylesheet" href="../../Assets/Vendors/Slick/CSS/slick.css">
    <link rel="stylesheet" href="../../Assets/Vendors/Slick/CSS/slick-theme.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../Assets/CSS/scrolling-nav.css">
    <link rel="stylesheet" href="../../Assets/CSS/index.css" />
    <link rel="stylesheet" href="../../Assets/CSS/trangcanhan.css">
    <link rel="stylesheet" href="../../Assets/CSS/kichhoat.css">

</head>

<body id="page-top">
    <!--header-->
    <header class="header header-style-1 white-navbar position-fixed">
        <!--top-->
        <div id="top" class="bg-light section">
            <div class="container">
                <div class="d-flex">
                    <div class="mr-auto pt-3">
                        <div class="hotline user">Hotline: (028) 9234675</div>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="btn bg-light text-dark user" id="dangnhap" data-toggle="modal" data-target="#sign-in">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Dương Thị Hồng Mai</span>
                        </button>
                        <button type="button" class="btn bg-light text-dark user" id="dangky">
                            <i class="fa fa-sign-out"></i>
                            <span>Đăng xuất</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--top end-->
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <img src="../../Assets/IMG/logo.png" alt="logo" class="logo-navbar" width="150px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#top">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="danhsachkhoahoc.html">Khóa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#giangVien">Giảng viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="kichhoat.html">Kích hoạt khóa học</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--navigation end-->
    </header>
    <!--header end-->

    <!--kích hoạt khóa học-->
    <section id="kichHoat">
        <div class="container">
            <div class="kichhoat__title text-center border offset-md-3 col-md-6 pt-4">
                <h4 class="pb-2">Kích hoạt khóa học của bạn</h4>
                <form action="#" class="maKichHoat px-5"> 
                    <p class="text-center pb-3">Nhập mã kích hoạt tại đây để vào khóa học.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập mã kích hoạt tại đây">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Kích hoạt</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!--kích hoạt khóa học end-->

    <!--footer-->
    <footer class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer__info">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">IT Course</li>
                            <li class="nav-item pt-3">Địa chỉ: 766 Võ Văn Kiệt, Phường 1, Quận 5,
                                <br> TP. HCM</li>
                            <li class="nav-item pt-2">Số điện thoại: (028) 9234675</li>
                            <li class="nav-item pt-2">Email:</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="footer__social">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">Các liên kết</li>
                            <li class="nav-item pt-3">
                                <i class="fa fa-facebook facebook"></i>
                                <i class="fa fa-youtube youtube"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="footer__subscribe">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">Nhận tin mới</li>
                            <li class="nav-item pt-3">Chúng tôi sẽ gửi những tin tức, khóa học mới sớm nhất cho các bạn qua email này</li>
                            <li class="nav-item pt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-envelope-o input-group-text"></i>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Gửi</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!-- copyright -->
    <section id="copyright" class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Minh - Mai Website - 2018</p>
        </div>
    </section>
    <!-- copyright end -->

    <!-- Bootstrap core JavaScript -->
    <script src="../../Assets/Vendors/Jquery/jquery.min.js"></script>
    <script src="../../Assets/Vendors/Bootstrap/JS/popper.min.js"></script>
    <script src="../../Assets/Vendors/Bootstrap/JS/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../Assets/Vendors/Jquery-easing/jquery.easing.min.js"></script>

    <script src="../../Assets/Vendors/Slick/JS/slick.min.js"></script>

    <!--Controller JS-->
    <script src="../Controllers/index.js"></script>

    <!--Validation-->
    <script src="../Models/Validation.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../Assets/JS/scrolling-nav.js"></script>
    <script src="../../Assets/JS/navbar.js"></script>
    <script src="../../Assets/JS/slick.js"></script>

</body>

</html>