<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Danh sách khóa học của bạn</title>

    <!--CSS FONTSAWESOME-->
    <link rel="stylesheet" href="../../Assets/Vendors/CSS/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../Assets/Vendors/Bootstrap/CSS/bootstrap.min.css">

    <link rel="stylesheet" href="../../Assets/Vendors/Slick/CSS/slick.css">
    <link rel="stylesheet" href="../../Assets/Vendors/Slick/CSS/slick-theme.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../Assets/CSS/scrolling-nav.css">
    <link rel="stylesheet" href="../../Assets/CSS/index.css" />
    <link rel="stylesheet" href="../../Assets/CSS/thongtincanhan.css">

</head>

<body id="page-top">
    <header class="header header-style-1 white-navbar position-fixed">
        <!--top-->
        <div id="top" class="bg-light section">
            <div class="container">
                <div class="d-flex">
                    <div class="mr-auto pt-3">
                        <div class="hotline user">Hotline: (028) 9234675</div>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="btn bg-light text-dark user" id="dangnhap" data-toggle="modal" data-target="#sign-in">
                            <i class="fa fa-user-circle-o"></i>
                            <span>Dương Thị Hồng Mai</span>
                        </button>
                        <button type="button" class="btn bg-light text-dark user" id="dangky" data-toggle="modal" data-target="#sign-up">
                            <i class="fa fa-sign-out"></i>
                            <span>Đăng xuất</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--top end-->

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light " id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">
                    <img src="../../Assets/IMG/logo.png" alt="logo" class="logo-navbar" width="150px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#carousel">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#khoaHoc">Khóa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="index.html#giangVien">Giảng viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="kichhoat.html">Kích hoạt khóa học</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--navigation end-->
    </header>
    <!--header end-->

    <!--info-->
    <section id="thongTin">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-5 ml-4">
                    <div class="card khoaHoc__item">
                        <img class="card-img-top  rounded-circle p-4" src="../../Assets/IMG/course-1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tên:</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="" class="nav-link js-scroll-trigger">Thông tin cá nhân</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link js-scroll-trigger">Thông tin tài khoản</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link js-scroll-trigger">Cài đặt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 border rounded mt-5 ml-5">
                    <div class="row khoaHoc__content" id="khoaHoc__content">
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-1.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-2.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-3.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-4.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-5.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-6.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="card khoaHoc__item">
                                <img class="card-img-top" src="../../Assets/IMG/course-7.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--info end-->

    <!--footer-->
    <footer class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer__info">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">IT Course</li>
                            <li class="nav-item pt-3">Địa chỉ: 766 Võ Văn Kiệt, Phường 1, Quận 5,
                                <br> TP. HCM</li>
                            <li class="nav-item pt-2">Số điện thoại: (028) 9234675</li>
                            <li class="nav-item pt-2">Email:</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="footer__social">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">Các liên kết</li>
                            <li class="nav-item pt-3">
                                <i class="fa fa-facebook facebook"></i>
                                <i class="fa fa-youtube youtube"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="footer__subscribe">
                        <ul class="nav flex-column">
                            <li class="nav-item nav-title">Nhận tin mới</li>
                            <li class="nav-item pt-3">Chúng tôi sẽ gửi những tin tức, khóa học mới sớm nhất cho các bạn qua email này</li>
                            <li class="nav-item pt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-envelope-o input-group-text"></i>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Gửi</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!-- copyright -->
    <section id="copyright" class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Minh - Mai Website - 2018</p>
        </div>
    </section>
    <!-- copyright end -->

    <!--scroll to top-->
    <a href="#" class="scrollToTop" >Go to top</a>
    <!--scroll to top end-->

    <!-- Bootstrap core JavaScript -->
    <script src="../../Assets/Vendors/Jquery/jquery.min.js"></script>
    <script src="../../Assets/Vendors/Bootstrap/JS/popper.min.js"></script>
    <script src="../../Assets/Vendors/Bootstrap/JS/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../Assets/Vendors/Jquery-easing/jquery.easing.min.js"></script>

    <!--pagination-->
    <script src="../../Assets/Vendors/paginations/pagination.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../Assets/JS/scrolling-nav.js"></script>
    <script src="../../Assets/JS/navbar.js"></script>
    <script src="../../Assets/JS/pagination.js"></script>

</body>

</html>